.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
service-worker.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore proto files
/src/lib/proto
