@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Poppins;
        font-weight: 300;
        src: url(/fonts/Poppins-Light.ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Poppins;
        font-weight: 400;
        src: url(/fonts/Poppins-Regular.ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Poppins;
        font-weight: 500;
        src: url(/fonts/Poppins-Medium.ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Poppins;
        font-weight: 600;
        src: url(/fonts/Poppins-SemiBold.ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Poppins;
        font-weight: 700;
        src: url(/fonts/Poppins-Bold.ttf);
        font-display: swap;
    }
    @font-face {
        font-family: Poppins;
        font-weight: 800;
        src: url(/fonts/Poppins-ExtraBold.ttf);
        font-display: swap;
    }
}

:focus {
    outline: none;
}

body {
    @apply text-primary-100 bg-primary-700 font-poppins;
}

h1 {
    @apply text-3xl font-semibold;
}

h2 {
    @apply text-2xl font-semibold;
}

h3 {
    @apply text-xl font-semibold;
}

p {
    margin: 0;
}

ol {
    @apply list-decimal pl-4;
}

ul {
    @apply list-disc pl-4;
}
